@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer base {
  ::selection {
    color: #fff;
    background-color: rgb(251, 146, 60);
  }

  body {
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    scroll-behavior: smooth;
  }

  h1 {
    @apply text-3xl font-extrabold text-white;
  }

  h2 {
    @apply text-lg text-slate-300;
  }

  p {
    @apply text-base text-slate-300;
  }

  small {
    @apply text-sm text-red-500;
  }

  ul {
    @apply text-base text-slate-300;
  }

  i {
    @apply text-base text-slate-300;
  }

  input:focus {
    outline: none;
  }

  section:not(:last-child) {
    @apply mb-28;
  }

  article:not(:last-child) {
    @apply mb-28;
  }
}

@layer components {
  /* ========== index page style ========== */

  .toast {
    @apply w-full p-4 text-lg fixed top-0 z-20 bg-gradient-to-br from-orange-400 to-orange-500 hidden;
  }

  .font-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-br from-orange-400 to-orange-600;
  }

  .header-wrapper {
    background-image: url('https://i.ibb.co/qnvZb3L/image-1.jpg');
    @apply min-h-screen px-4 pb-6 flex flex-col justify-between bg-cover bg-center relative sm:px-8 sm:pb-8 md:px-12 md:pb-16 lg:px-16 lg:pb-32;
  }

  .header-wrapper::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(160, 149, 146, 0.5), rgba(0, 0, 0, 0.9));
  }

  .header-wrapper div {
    @apply relative z-10;
  }

  .top-header {
    @apply w-full h-16 flex justify-between items-center sm:max-w-2xl sm:mx-auto md:max-w-4xl lg:max-w-6xl lg:px-14;
  }

  .middle-header {
    @apply my-8 text-center sm:max-w-2xl sm:mx-auto md:max-w-4xl lg:max-w-6xl;
  }

  .bottom-header {
    @apply sm:max-w-2xl sm:mx-auto md:max-w-4xl lg:max-w-6xl;
  }

  .form-group {
    @apply mt-4 flex gap-2 relative sm:max-w-2xl sm:mx-auto;
  }

  .input-primary {
    @apply w-full p-4 text-base text-slate-300 border-2 border-orange-400 rounded-md bg-transparent;
  }

  .btn-primary {
    @apply py-2.5 px-4 text-white bg-gradient-to-br from-orange-400 to-orange-600 rounded-md;
  }

  .error-message {
    @apply italic absolute -bottom-6 left-0 hidden;
  }

  .main-wrapper {
    @apply py-20 px-4 sm:max-w-2xl sm:mx-auto sm:px-8 md:max-w-4xl md:px-12 lg:max-w-6xl;
  }

  .card-wrapper article:nth-child(even) div:nth-child(odd) {
    @apply order-2;
  }

  .card-content {
    @apply text-center lg:flex lg:justify-between lg:items-center lg:gap-16;
  }

  .image-wrapper {
    @apply w-4/5 mx-auto sm:w-3/5 lg:w-3/6;
  }

  .image-content {
    @apply aspect-video object-cover border-2 border-orange-400 rounded-lg;
  }

  .accordions:not(:last-child) {
    @apply mb-2;
  }

  .accordions li {
    @apply lg:text-lg;
  }

  .accordions li:first-child {
    @apply p-4 flex justify-between items-center gap-4 bg-neutral-800 cursor-pointer;
  }

  .accordions li:last-child {
    @apply p-4 bg-neutral-700 hidden;
  }

  .accordions i {
    transition: all 0.3s ease-in-out;
    @apply lg:text-lg;
  }

  .active-list {
    @apply inline-block !important;
  }

  .rotate-up {
    transform: rotate(-180deg);
    transition: all 0.3s ease-in-out;
  }

  .footer-wrapper {
    @apply pt-20 px-4 sm:max-w-2xl sm:mx-auto sm:px-8 md:max-w-4xl md:px-12 lg:max-w-6xl;
  }

  .footer-wrapper p,
  .footer-wrapper ul {
    @apply text-opacity-80;
  }

  /* ========== privacy page style ========== */

  .privacy-header {
    @apply w-full h-16 px-4 flex justify-between items-center sm:max-w-2xl sm:mx-auto sm:px-8 md:max-w-4xl md:px-8 lg:max-w-6xl lg:px-14;
  }

  .privacy-group-content {
    @apply px-4 sm:max-w-2xl sm:mx-auto sm:px-8 md:max-w-4xl md:px-8 lg:max-w-6xl lg:px-14;
  }

  .privacy-wrapper h1,
  .privacy-wrapper h2,
  .privacy-wrapper h3,
  .privacy-wrapper p {
    @apply text-black;
  }

  .privacy-wrapper h2 {
    @apply text-lg font-extrabold;
  }

  .privacy-wrapper a {
    @apply text-orange-400;
  }

  .privacy-wrapper ol {
    @apply list-decimal text-black;
  }

  .privacy-wrapper ul {
    @apply list-inside list-disc font-normal text-black;
  }

  .privacy-wrapper i {
    @apply text-orange-400;
  }

  .privacy-wrapper section {
    @apply mb-0;
  }

  .privacy-wrapper section ol li:not(:first-child):not(ul li) {
    @apply mt-8;
  }

  .privacy-footer p,
  .privacy-footer a,
  .privacy-footer ul {
    @apply text-slate-300 text-opacity-80;
  }

  .privacy-footer::after {
    content: '';
    display: block;
    position: absolute;
    width: 85%;
    height: 50%;
    top: 0;
    right: 0;
    z-index: -1;
    background-image: linear-gradient(to top right, rgb(0, 0, 0) 44%, rgba(251, 146, 60, 0.8));
  }
}
