@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
    /* background-image: linear-gradient(to bottom right, #3c3b3d, #776c5b, #000000); */
  }

  header {
    background-image: url('/public/asset/image-1.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
  }

  header::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(143, 125, 115, 0.5), rgba(0, 0, 0, 0.95));
  }

  /* header {
    position: relative;
    background-image: url('https://images.unsplash.com/photo-1603430416744-a47cee46b0ae?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1596&q=80');
    background-size: cover;
    background-position: center;
  }

  header::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background-image: linear-gradient(to bottom right, rgba(60, 59, 61, .8), rgba(0, 0, 0, .9));
  } */

  input:focus {
    outline: none;
  }
}
