@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #000;
  }

  h1 {
    @apply text-3xl font-extrabold text-white;
  }

  p {
    @apply text-slate-300;
  }

  header {
    background-image: url('https://i.postimg.cc/sgD32ZBM/image-1.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
  }

  header::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(160, 149, 146, 0.5), rgba(0, 0, 0, 0.9));
  }

  header div {
    @apply relative z-10;
  }

  input:focus {
    outline: none;
  }

  section:not(:last-child) {
    @apply mb-28;
  }

  article:not(:last-child) {
    @apply mb-28;
  }

  ul {
    @apply text-slate-300;
  }

  i {
    @apply text-slate-300;
  }
}

@layer components {
  .font-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-br from-orange-400 to-orange-600;
  }

  .input-primary {
    @apply w-full p-4 text-base text-slate-300 border-2 border-orange-400 rounded-md bg-transparent;
  }

  .btn-primary {
    @apply py-2.5 px-4 text-base text-white bg-gradient-to-br from-orange-400 to-orange-600 rounded-md;
  }

  .img-border {
    @apply border-2 border-orange-400 rounded-lg;
  }

  .accordions:not(:last-child) {
    @apply mb-2;
  }

  .accordions li:first-child {
    @apply p-4 flex justify-between items-center gap-4 bg-neutral-800 cursor-pointer;
  }

  .accordions li:last-child {
    @apply p-4 bg-neutral-700 hidden;
  }

  .card article:nth-child(even) div {
   @apply order-2;
  }

  .rotate-up-icon {
    transform: rotate(-180deg);
    transition: all 0.3s ease-in-out;
  }
}
